@mixin displayFlex(
    $alignItems: center,
    $justifyContent: space-between,
    $flexDirection: row
) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin font(
    $fontSize: 14px,
    $fontWeight: 300,
    $fontFamily: "WorkSans",
    $lineHeight: normal
) {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}
