$size-title_aside: 49px;
$size-title_main: 22px;
$size-main_text: 14px;
$size-input_text: 14px;
$size-btn_text: 14px;
$size-label_input: 12px;

$color-main_text: #111111;
$color-main_bg: #F4F5FC;
$color-label_input: #7c7c7c;
$color-black: #000000;
$color-white: #fff;
$color-active: #5a61ed;
$color-hover: #272da8;
$color-btn: #5a61ed;
$color-radio_btn: #5a61ed;
$color-error: #ff2828;
$color-border_input: #F2F2F2;